{{> head}}

{{> navbar}}

    <div class="row">
        <div class="col-md-8 text-center">
            <br>
            <h1>Daria</h1>
            <br>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptate consequatur explicabo fuga quae alias totam. Pariatur esse beatae, molestiae voluptatibus illum enim, amet exercitationem ducimus tenetur minima obcaecati fugiat.
            </p>
            <br>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi repudiandae laboriosam rerum minima nam inventore quae qui itaque, quos consequuntur harum, quis, impedit voluptas distinctio nemo atque eligendi suscipit officia!
            </p>
            <hr>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia assumenda, aperiam perspiciatis tenetur beatae nihil ab doloribus! Itaque quam consectetur a cum dignissimos, inventore molestiae natus vel eligendi, similique distinctio!
            </p>
        </div>

        <div class="col-md-4">
            <img src="assets/img/D1.png" class="img-thumbnail">
        </div>

    </div>


{{> footer}}